.vue-map-container {
    width: 100%;
    height: calc(100vh - 16px);
}

body {
    background: #f5f5f5;
    font-family: Arial, serif;
}

.v-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.spinner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    width: 100px;
    height: 100px;
    color: #acacac;
}
