<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Find your Friends</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" href="css/map.css"/>

        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/lodash"></script>
        <script src="https://cdn.rawgit.com/mahnunchik/markerclustererplus/2.1.4/dist/markerclusterer.min.js"></script>
        <script src="js/lib/vue-google-maps.js"></script>
        <script src="js/lib/vue-spinner.js"></script>
    </head>
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-body">
                            <slot name="body">
                                default body
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>
    <body>
        <div id="root">
            <div class="top-bar">
                <h1>Find Your Friends{{mapSwitch ? null : '\'s posts'}}</h1>
                <p>
                    <button v-if="mapSwitch" @click="switchMap">Find posts</button>
                    <button v-else @click="switchMap">Find friends</button>
                </p>
                <form th:action="@{/connect/twitter}" method="POST">
                    <input type="hidden"/>
                    <p>
                        <button type="submit">Connect to Twitter</button>
                    </p>
                </form>
                <form th:action="@{/connect/facebook}" method="POST">
                    <input type="hidden" name="scope"
                           value="public_profile,email,user_friends,user_posts,user_location"/>
                    <p>
                        <button type="submit">Connect to Facebook</button>
                    </p>
                </form>
            </div>
            <div v-if="!mapReady">
                <clip-loader :loading="!mapReady"
                             :color="loaderColor">
                </clip-loader>
                <div class="spinner-text">
                    Please wait...
                </div>
            </div>
            <gmap-map v-else-if="mapSwitch"
                      :center="center"
                      :zoom="7">
                <gmap-marker v-for="(city,id) in cities"
                             :key="id"
                             :position="city.geoLocation"
                             :clickable="true"
                             :draggable="false"
                             @click="onCityClick(id)">
                    <gmap-info-window :opened="city.open"
                                      @closeclick="closeCity(id)">
                        <div class="friend-list">
                            <div class="city-title">
                                {{city.name}}
                            </div>
                            <div v-for="(friend,fid) in city.friends"
                                 :key="fid"
                                 @click="openInNewTab(friend.accountLink)"
                                 class="friend">
                                {{friend.name}}
                            </div>
                        </div>
                    </gmap-info-window>
                </gmap-marker>
            </gmap-map>
            <gmap-map v-else
                      :center="center"
                      :zoom="5">
                <gmap-cluster @click="onClusterClick" ref="cluster">
                    <gmap-marker v-for="(post,id) in posts"
                                 :key="id"
                                 :position="post.geoLocation"
                                 :clickable="true"
                                 :draggable="false"
                                 :title="id.toString()"
                                 @click="onPostClick(id)">
                        <gmap-info-window :opened="post.open"
                                          @closeclick="closePost(id)">
                            <div class="friend-list">
                                <div class="city-title">
                                    {{post.author}}
                                </div>
                                <div class="friend">
                                    {{post.content}}
                                </div>
                            </div>
                        </gmap-info-window>
                    </gmap-marker>
                </gmap-cluster>
            </gmap-map>
            <modal v-if="clusteredPosts.length > 0" @close="closeModal">
                <div slot="body">
                    <div v-for="post in clusteredPosts"
                         class="tweet">
                        <div class="tweet-title">
                            <div class="tweet-title-name">{{post.author}}</div>
                            <div class="tweet-title-date">{{post.date}}</div>
                        </div>
                        <div class="tweet-content">
                            {{post.content}}
                        </div>
                    </div>
                    <button class="modal-default-button" @click="closeModal">
                        OK
                    </button>
                </div>
            </modal>
        </div>
    </body>
    <script th:inline="javascript">
        const citiesList = [[${cities}]]
        const postsList = [[${posts}]]
        Vue.use(VueGoogleMaps, {
            load: {
                key: 'AIzaSyB61sCvOkrvTlAioaf43fFB1MI7rQxntYM',
//                libraries: 'places', //// If you need to use place input
            },
        });
        Vue.component('clip-loader', VueSpinner.ClipLoader);
        Vue.component('modal', {template: '#modal-template'})
        new Vue({
            el: '#root',
            data() {
                return {
                    center: {
                        // Poland geolocation
                        lat: 51.9194,
                        lng: 19.1451
                    },
                    mapReady: false,
                    loaderColor: '#acacac',
                    markerHovered: false,
                    cities: citiesList,
                    posts: postsList,
                    mapSwitch: true,
                    clusteredPosts: []
                }
            },
            methods: {
                onCityClick(cityId) {
                    this.center = this.cities[cityId].geoLocation
                    this.cities = this.cities.map(c => {
                        c.open = false
                        return c
                    })
                    this.cities[cityId].open = true
                },
                onPostClick(postId) {
                    this.center = this.posts[postId].geoLocation
                    this.posts = this.posts.map(p => {
                        p.open = false
                        return p
                    })
                    this.posts[postId].open = true
                },
                onClusterClick(cluster) {
                    this.clusteredPosts =
                        cluster.getMarkers()
                            .map(m => this.posts[parseInt(m.getTitle())])

                },
                closeModal() {
                    this.clusteredPosts = []
                },
                openInNewTab(url) {
                    const win = window.open(url, '_blank');
                    win.focus();
                },
                closeCity(cityId) {
                    const closedCity = this.cities[cityId]
                    closedCity.open = false
                    Vue.set(this.cities, cityId, closedCity)
                },
                closePost(postId) {
                    const closedPost = this.posts[postId]
                    closedPost.open = false
                    Vue.set(this.posts, postId, closedPost)
                },
                switchMap() {
                    this.mapSwitch = !this.mapSwitch
                }
            },
            mounted() {
                const vue = this
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        vue.center = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        vue.mapReady = true
                    }, function () {/* on error */
                        vue.mapReady = true
                    });
                }
                this.cities.forEach(c => {
                    c.open = false
                })
                this.posts.forEach(p => {
                    p.open = false
                })
            }
        });
    </script>

</html>
